<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>672916998473-f4huj2rrcot4sod34m7v267pul2ps6d9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.672916998473-f4huj2rrcot4sod34m7v267pul2ps6d9</string>
	<key>API_KEY</key>
	<string>AIzaSyCSP0u5_ErprJET0JstpKmmJ0v72MUBAnI</string>
	<key>GCM_SENDER_ID</key>
	<string>672916998473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFinalProjectTsa</string>
	<key>PROJECT_ID</key>
	<string>flutter-ui-25e73</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-ui-25e73.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:672916998473:ios:ff8914cbc7e5b1fd5a7298</string>
</dict>
</plist>